<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>

    <% if (user) { %>
      <div class="welcome-banner">
        
        <h2>👋 Welcome back, <%= user.username|| user.email || user.id %>!</h2>
        <% if (user.role === 'ADMIN') { %>
          <p>You are an ADMIN and you can now upload files.</p>
        <% } else if (user.role === 'USER') { %>
          <p>You are a USER and you can see all the uploaded files.</p>
        <% } else { %>
          <p>You are a GUEST. You can't see anything. Log in to continue...</p>
        <% } %>

      </div>

      <a href="/upload-page" class="upload-page-btn">Upload Files</a> 

    <% } else { %>
      <div class="not-logged-in">
        👋 Hello visitor! You are not logged in !
      </div>

      <%- include("partials/login-form") %>
      
    <% } %>
  </body>
</html>
