<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>

    <% if (user) { %>
      <div class="welcome-banner">
        <h2>👋 Welcome back, <%= user.id || user.username|| user.email %>!</h2>
      </div>
    <% } else { %>
      <div class="not-logged-in">
        👋 Hello visitor! You are not logged in !
      </div>

      <%- include("partials/login-form") %>
      
    <% } %>
  </body>
</html>
