<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <%- include("partials/header") %>
    <%- include("partials/register-form", { registerError }) %>
  </body>
</html>
